body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.widget {
    background-color: #a7c5eb;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#number {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

#warning-text {
    color: red;
    font-weight: bold;
    display: none;
}
